$primary: #0b0c10;
$secondary: #1F2833;
$clear: #06BFFF;
$cleartext: #c5c6c7;
$cleartext2: #67fbf2;

* {
    padding: 0;
    margin: 0;
}

body {
    color: $cleartext;
    background: $secondary !important;
    font-size: 16px;
    margin-top: 120px;
}

main {
    background: $secondary;
    padding-top: 100px;
    padding-bottom: 100px;
}

.container {
    width: 90%;
    margin: 30px auto;
}

.banner {
    margin: 10px;

    img {
        border-radius: 10px;
        width: 95%;
    }
}

.flex {
    display: flex;
    flex-wrap: wrap;

    &-coluna {
        width: 100%;
        border: 1px solid $cleartext;
        border-radius: 10px;
        margin-bottom: 10px;

        img {
            width: 100%;
            border-radius: 10px;
        }
    }
}

h1 {
    color: $clear !important;
    text-align: center;
    padding: 30px;
}

h2 {
    color: #fc0f17;
    text-align: center;
}

h4 {
    color: $cleartext2 !important;
    text-align: center;
    padding: 30px;
}

.center {
    text-align: center;
}

.flex-game {
    display: flex;
    flex-wrap: wrap;

    & &-imagem {
        width: 98%;

        img {
            width: 100%;
            border-radius: 10px;
        }
    }

    & &-descricao {
        width: 98%;
    }
}

#negrito {
    text-transform: uppercase;
    font-weight: bold;
}

#negrito2 {
    text-transform: uppercase;
    font-weight: bold;
    color: $cleartext2;
}

#logo {
    width: 100px;
    border-radius: 10px;
    box-shadow: 0 0 7px red;
}

#formatar-carossel {
    border-radius: 10px;
    max-width: 1500px;
    max-height: 800px;
    min-width: 300px;
    min-height: 200px
}

#formatar-foto {
    border-radius: 10px;
    max-width: 200px;
    max-height: 200px;


}

#gridJogos {
    text-align: center !important;
    background: $secondary;

}

#grid-nav {
    background-color: $primary !important;
    color: $clear;
}

.hover:hover {
    background-color: $secondary !important;
    border-radius: 10px;
    width: auto;
}

.header {
    background: $primary;
    box-shadow: 0 0 7px $cleartext2;
    width: 100%;
    position: fixed;
    padding: 15px;
    box-sizing: border-box;
    top: 0;
    z-index: 9;

    & &-logo {
        float: left;

        img {
            width: 200px;
        }
    }

    & &-menu {
        float: right;
        border: 1px solid #FFF;
        background: #CCC;
        padding: 5px;
        border-radius: 10px;

        img {
            width: 35px;
        }
    }

    &-nav {
        width: 100%;
        display: none;

        ul {
            list-style: none;

            li {
                padding: 10px;
                box-sizing: border-box;
                border-bottom: 1px solid $clear;

                a {
                    color: $clear;
                    text-decoration: none;
                }
            }
        }
    }
}

.show {
    display: inline-block !important;
}

.footer {
    background: $primary;
    color: $cleartext;
    text-align: center;
    padding: 20px;
    box-sizing: border-box;
    box-shadow: 0 0 5px $cleartext2;
    position: fixed !important;
    bottom: 0 !important;
    width: 100% !important;
}

.title {
    height: 60px;
}

#margin {
    margin: 5px;
    font-weight: bold;
    color: #f4d24f
}

.card {
    background: $secondary;
    color: $clear;
}

@media (min-width: 480px) and (max-width: 1920px) {
    .header {
        &-menu {
            display: none !important;
        }

        &-nav {
            width: auto;
            display: block;
            float: right;

            ul {
                li {
                    display: inline-block;
                    border: 0;
                    padding: 20px;

                    a:hover {
                        color: #fff;
                    }
                }
            }
        }
    }

    .container {
        width: 90%;
        margin: 30px auto;
    }

    .flex {
        & &-coluna {
            width: 23%;
            margin: 5px;
        }
    }

    .flex-game {
        & &-imagem {
            width: 30%;
        }

        & &-descricao {
            width: 68%;
            margin: 10px;

            p {
                line-height: 25px;
                margin-bottom: 20px;
            }
        }
    }
}

.iframeGame {
    display: none !important;
}